<h1>Editing Computer</h1>
<br/>
<%= render 'form', computer: @computer %>
<br/>
<%= link_to 'Show', @computer,  class:"btn btn-secondary" %> 
<%= link_to 'Back', computers_path,  class:"btn btn-secondary" %>
