
<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5">
      <div class="mx-auto mt-5" style="width: 400px">
        <%= form_with(url: search_path, method: 'get', local: true) do %>
          <div id= "search-data" class="form-search search-data">
            <%= label_tag :part, 'Search for a PC Part '%>
            <%= text_field_tag :q, nil, autocomplete: :off, class: 'form-control', placeholder: "Enter part name" %>
          </div>

          <%= button_tag 'Search', class: 'btn btn-success btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
