<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Part info</h4>
      <dl>
        <dt>Title</dt>
        <dd><%= @part['title'] %></dd>
      </dl>
    </div>
  </div>
</div>
